.navbar.navbar-expand-lg.bg-white {
    flex-wrap: nowrap;
}

.bg_light {
    background-color: #e5e5e5;
}


main {
    display: flex;
}



/* sidebar */

.sidebar {
    width: 50px;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0;
}


.full-section {
    width: calc(100vw - 50px);
}

.sidebar ul li,
.bottom-sidebar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    padding: 20px 0;
}

.sidebar a,
a:visited,
a:active {
    color: white;
    text-decoration: none;
}

.sidebar li:hover {
    background-color: #808f9b;
}

.sidebar a i {
    margin-right: 10px;
}

/* navbar */

.navbar-brand img {
    width: 50px;
    display: inline;

}

.container-fluid.position-relative i {
    position: absolute;
    left: 30px;
    bottom: 10px;
}

.rounded-pill {
    margin: 3px;
    background-color: #165bba;
}

/* spaziatura tra icone e descrizione */




/* card */

.bottom-section {
    padding: 20px 10px;
}

.bottom-section,
.accordion button {
    font-weight: bold;
}

td img {
    width: 25px;
    vertical-align: bottom;
}


td:nth-child(2) {
    display: none
}

td:nth-child(3) {
    display: none
}

@media screen and (min-width: 768px) {
    .col-12.col-md-4.order-md-1 .content {
        text-align: center;
    }

    td:nth-child(2) {
        display: table-cell;
    }

    td:nth-child(3) {
        display: table-cell;
    }

    .sidebar {
        width: 100px;
    }

    .full-section {
        width: calc(100vw - 100px);
    }

}

@media screen and (min-width: 992px) {
    .full-section {
        width: calc(100vw - 150px);
    }

    .sidebar {
        width: 150px;
    }

}