.navbar.navbar-expand-lg.bg-white {
    flex-wrap: nowrap;
}

.bg_light {
    background-color: #e5e5e5;
}



.content {
    border: 1px solid white;
    height: 300px;
    background-color: red;
}

.navbar-brand img {
    width: 50px;
    display: inline;

}

.container-fluid.position-relative i {
    position: absolute;
    left: 30px;
    bottom: 10px;
}

/* .sidebar {
    height: 100%;
    width: 120px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
}


.sidebar a {
    padding: 8px 16px 6px 24px;
    text-decoration: none;
    color: #ffffff;
    display: block;
}



/* Style the main content */
.main {
    margin-left: 120px;

}