.navbar.navbar-expand-sm.bg-white {
    flex-wrap: nowrap;
}

.bg_light {
    background-color: #e5e5e5;
}

main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.main {
    width: 100vw;
    height: 100%;
}

.container-sidebar {
    height: 100%;
}

.content {
    border: 1px solid white;
    height: 300px;
    background-color: red;
}